<ActionBar class="action-bar">
    <NavigationButton visibility="hidden"></NavigationButton>
    <GridLayout columns="50, *">
        <Label class="action-bar-title" text="Search" colSpan="2"></Label>

        <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
    </GridLayout>
</ActionBar>

<StackLayout class="page page-content">
    <SearchBar hint="Search hint" [text]="searchPhrase" (submit)="onSubmit($event)" (clear)="onClear($event)"
               color="white" textFieldBackgroundColor="#a9a9a9" textFieldHintColor="white" marginTop="30px" marginBottom="50px"></SearchBar>
    <ListView row="1" height=2000px [items]="myItems" class="list-group">
        <ng-template let-item="item">
            <GridLayout class="item list-group-item">
                <Label [text]="item.name" class="list-group-item-heading"></Label>
            </GridLayout>
        </ng-template>
    </ListView>
</StackLayout>
